
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body_block %}


<h2>Now you can shout by yourself about anything</h2>

<!--
  {% load static %}
<script src="{% static 'js/master.js' %}"></script>
-->
  <!-- Photo Grid -->
  <br>
<p>I know from first-hand experience that you can go in knowing zero, 
  nothing, and just get a grasp on everything as you go and start building right away.</p>
<p>— MADELYN, PINTEREST</p>
<br><br>

      <img src="https://www.w3schools.com/w3images/streetart.jpg" style="width:100%">

      
  <br> <br>
  <p>Freedom and independence can sound like lofty concepts, 
    but how do they break down for the individual? 
    In the spirit of the Fourth of July, we have compiled 
    a list of seven inspiring quotes culled from a diverse group 
    of important figures  - from Coco Chanel to Socrates - whose 
    statements reflect the broad spectrum of meaning of the notions of freedom and independence. </p>
  <br> <br><br> <br>

{% endblock %}